.conteinerDetails {
    text-align: center;
    justify-items: center;
    width: 30%;
    margin: 0 auto;
    height: 100vh;
}

.char {
    background-color: #adf7d1;
    border-radius: 30px;
    box-shadow: -20px 20px 60px #8971d0,
    20px -20px 60px #8971d0;
    border: solid ;
    margin: 50px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
}

.conteinerDetails img  {
    width: 50%;
    height: auto;
    border-radius: 100%;
    box-shadow: -20px 20px 60px #7dace4,
        20px -20px 60px #7dace4;
}

.homeButton {
    margin: 10px;
    color: #ffffff;
    padding: 0.5em 1.7em;
    font-size: 15px;
    font-weight: 800px;
    border-radius: 0.5em;
    background: #8971d0;
    border: 2px solid #e8e8e8;
    
  
        
}

.homeButton:active {


    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
        inset -4px -4px 12px #ffffff;


}


@media (max-width: 767px) {
    .char {
        font-size: 10px;
    }
    .homeButton {
       
        font-size: 10px;
      
            
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
  
  }
  
  
  @media (min-width: 1025px) {
   
  }