.conteinerDetails {
   
    text-align: center;
    justify-items: center;
    background-color: #adf7d1;
    width: 30%;
    color: #8971d0;
    
    margin: 0 auto;
    border: solid ;
    box-shadow: -20px 20px 60px #8971d0,
        20px -20px 60px #8971d0;
    height: fit-content;
}


.conteinerDetails img  {
    width: 50%;
    height: auto;
    border-radius: 100%;
    box-shadow: -20px 20px 60px #7dace4,
        20px -20px 60px #7dace4;
}

.homeButton {
    margin: 10px;
    color: #090909;
    padding: 0.5em 1.7em;
    font-size: 10px;
    border-radius: 0.5em;
    background: #8971d0;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #7dace4,
        -6px -6px 12px #7dace4;
        
}

.homeButton:active {


    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
        inset -4px -4px 12px #ffffff;


}

@media (min-with:350px) and (max-with:1024px) {
    .App {
        background-size: cover;
        width: 100vw;
    }
}