.contenedor { 
    display: flex; 
    justify-content: space-between;
    width: auto ;
    height: 100%;
    background-color: #ffffff;
    
    border: 3px solid rgb(61, 190, 200) ;
}
.contenedor img {
    width: 200px;
}
.buttons {
    display: flex;
    flex-direction: flex-start;
    
    align-items: center
;
}
.searchbar {
    display: flex; 
    
    align-items: center;
}
.aboutButton {
    margin: 10px ;
    color: #090909;
    padding: 0.5em 1.7em;
    font-size: 10px;
    background-color: silver;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 4px 4px 12px #161617,
    
}

.aboutButton:active {

    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
        inset -4px -4px 12px #ffffff;

}

@media (max-width: 767px) {
    .contenedor { 
        display: flex; 
        flex-direction: column; 
        align-items: center;
        width: auto;
        height: 100%;
        background-color: #ffffff;
        
        border: 3px solid rgb(61, 190, 200) ;
    }
}

/* Estilos para pantallas medianas */
@media (min-width: 768px) and (max-width: 1024px) {
    .Footer{
        
        font-size: 13px;
    }
}

/* Estilos para pantallas grandes */
@media (min-width: 1025px) {
    .Footer {
        font-size: 13px;

    }
}