.App {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    background-image: url(../src/essest/img/rmbackground.jpg);
     width: 100%;
     height: 100%;
     overflow: auto;


    
}

@media (max-width: 768px) {
    .App {
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        height: 100%;
    }
}

/* Estilos para pantallas medianas */
@media (min-width: 769px) and (max-width: 1024px) {
    .App {
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        height: 100%;

    }
}

/* Estilos para pantallas grandes */
@media (min-width: 1025px) {
    .App {
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        height: 100%;

    }
}