
.contenedor {
  display: flex;
  flex-direction: column;
  background-color: #f8f7f9;
  padding: 1em;
  border-radius: 10px;
  text-align: center;
  font-size: 10px;
  box-shadow: 5px 5px 5px 1px #7dace4;
  margin: 20px;
  width: 15%;
  height: fit-content;
}
.contenedor a {
  text-decoration: none;
  color: rgb(61, 190, 200) ;
  
  
}

.closeButton {
  border: 0px;
  width: fit-content;
  height: fit-content;
  border-radius: 15px;
  transition: 0.5s;
}
.closeButton:active {
  color: #f7f4f4;
    box-shadow: inset 4px 4px 12px #c5c5c5,
        inset -4px -4px 12px #ffffff;
}
.icons{
  display: flex;
  justify-content: space-between;
}
.favoriteButton{
  
  display: flex;
  justify-content: center;
  background-color: none;
  border: none;
  border-radius: 100px;
}

.notFavoriteButton{
  display: flex;
  justify-content: center;
  background-color: rgb(233, 10, 10);
  border: none;
  border-radius: 100px;
}



/* Estilos para pantallas pequeñas */
@media (max-width: 767px) {
  .contenedor {
    display: flex;
    flex-direction: column;
    background-color: #f8f7f9;
    padding: 1em;
    border-radius: 10px;
    font-size: 10px;
    box-shadow: 5px 5px 5px 1px #7dace4;
    margin: 20px;
    width: 120px;
    min-width: 90px;
    height: fit-content;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contenedor {
    display: flex;
    flex-direction: column;
    background-color: #f8f7f9;
    padding: 1em;
    border-radius: 10px;
    font-size: 10px;
    box-shadow: 5px 5px 5px 1px #7dace4;
    margin: 20px;
    width: 160px;
    min-width: 150px;
    height: fit-content;
  }
}


@media (min-width: 1025px) {
  .contenedor {
    display: flex;
    flex-direction: column;
    background-color: #f8f7f9;
    padding: 1em;
    border-radius: 10px;
    font-size: 10px;
    box-shadow: 5px 5px 5px 1px #7dace4;
    margin: 20px;
    width: 190px;
    min-width: 170px;
    height: fit-content;
  }
}