.Footer {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    color: grey;
    text-align: center;
    margin-top: 15px ;
    font-size: 13px;
    
}

    .actions h3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 8px;
        color: grey;
        font-weight: 500;
        font-size: 12px;
    }
    .actions span {
            color: black;
            width: 25%; 
        }
    .actions button {
        border: none;
        background-color: transparent;
        font-size: 0.8em;
    }
    

@media (max-width: 767px) {
    .Footer {
        text-align: center;
        font-size: 13px;
    }
}

/* Estilos para pantallas medianas */
@media (min-width: 768px) and (max-width: 1024px) {
    .Footer{
        
        font-size: 13px;
    }
}

/* Estilos para pantallas grandes */
@media (min-width: 1025px) {
    .Footer {
        font-size: 13px;

    }
}