.searchInput {
  width: 70%;
  background-color: #adf7d1;
  border: 1px solid #e8e8e8;
  border-radius: 15px 0px 0px 15px;
  box-shadow: 6px 6px 12px #7dace4,
  -6px -6px 12px #7dace4;
}
.searchButton {
  
    background-color:#95e8d7;
    color: #050407;
    
    border-radius: 10px;
    border-radius: 0px 15px 15px 0px ;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #7dace4,
    -6px -6px 12px #7dace4;
}
.searchButton:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
      inset -4px -4px 12px #ffffff;
}

@media (min-with:350px) and (max-with:1024px) {
  .App {
     background-size: cover;
     width: 100vw;
  }
}