.conteinerAbout{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 100vh;
    background-color: #04020b;
}

.imgAbout {
    height:400px; ;
    padding: 0px 0px 0px 10px;
}

.imgText {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.imgText p {
    font-size: 25px;
    font-weight: 800;
    color: white; 
}

.parra {
    font-size: 20px;
    font-weight: 800;
    color: white; 
    text-align: center; 
    margin: 10px 30px 30px 30px;
}

.parra a{
    color: rgb(137, 218, 227); 
    text-decoration: none;
}



@media (max-width: 767px) {
   
    .conteinerAbout{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        width: 100%;
        height: calc(100vh - 0px);
        background-color: #04020b;
        margin-top: 100px;
    } 
    .imgAbout {
        height:250px; ;
        padding: 0px 0px 0px 10px;
    }
    .imgText p {
        font-size: 20px;
        font-weight: 800;
        color: white; 
    }
    .parra {
        font-size: 15px;
        font-weight: 800;
        color: white; 
        text-align: center; 
        margin: 10px 30px 30px 30px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .imgAbout {
        height:300px; ;
        padding: 0px 0px 0px 10px;
    }
    .imgText p {
        font-size: 20px;
        font-weight: 800;
        color: white; 
    }
    .parra {
        font-size: 15px;
        font-weight: 800;
        color: white; 
        text-align: center; 
        margin: 10px 30px 30px 30px;
    }
  }
  
  
  @media (min-width: 1025px) {
    .imgAbout {
        height:300px; ;
        padding: 0px 0px 0px 10px;
    }
    .imgText p {
        font-size: 20px;
        font-weight: 800;
        color: white; 
    }
    .parra {
        font-size: 20px;
        font-weight: 800;
        color: white; 
        text-align: center; 
        margin: 10px 30px 30px 30px;
    }
  }